Options -MultiViews
RewriteEngine On
RewriteBase /

#Si la requête ne correspond pas à un fichier ou dossier existant

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]